.App {
  text-align: left;
  background-color: black;
  background-image: url("https://www.transparenttextures.com/patterns/dark-brick-wall.png");
}

/* a {
  color: black;
} */

.brand-logo {
  font-family: "Bebas Neue", sans-serif;
  display: flex;
  justify-content: center;
  animation: App-logo-spin infinite 20s linear;
  height: 5px;
  font-weight: 850;
  margin: 220px 550px 50px 75px;
  /* color: red accent-4; */
  border: 3px dashed white;
}

a.brand-logo.responsive-image {
  font-size: 60px;
}

/* .btn {
  color: red;
} */

  /* label underline focus color - from Stack overflow */
.container {
  color: 1px solid rgb(204, 0, 0);
    /* box-shadow: 0 1px 0 0 rgb(92, 9, 9); */
}

/* .nav {
  background: rgb(235, 26, 58);
  display: flex;
  flex-direction: row;
} */

.center {
  font-family: "Bebas Neue";
  font-weight: 500;
  /* margin: 0 400px; */
}

#name-input {
  font-family: "Bebas Neue";
  font-weight: 500;
}

#year-input {
  font-family: "Bebas Neue";
  font-weight: 500;
}

.link {
  text-align: center;
}

li {
  list-style: none;
}

@keyframes App-logo-spin {
  from { transform: rotate(-20deg); }
  to { transform: rotate(20deg); }
}

.waves-button-input {
  color: black;
  font-family: "Bebas Neue";
}

.nav-wrapper {
  background-color: #000000;
  background-image: url("https://www.transparenttextures.com/patterns/dark-brick-wall.png");
}

h4.center {
  font-family: "Bebas Neue";
  color: white;
  margin: 200px 0 50px 0;
}

/* #forms {
  font-family: "Bebas Neue";
  font-weight: 300px;
} */

a.waves-effect {
  color: black;
  font-family: "Bebas Neue";
  font-weight: bold;
  border: 2px dashed white;
}

input#name-input.center {
  border-bottom: 1px solid #f40b03;
  -webkit-box-shadow: 0 1px 0 0 #f40b03;
  -moz-box-shadow: 0 1px 0 0 #f40b03;
  box-shadow: 0 1px 0 0 #f40b03;
}

input#year-input.center {
  border-bottom: 1px solid #f40b03;
  -webkit-box-shadow: 0 1px 0 0 #f40b03;
  -moz-box-shadow: 0 1px 0 0 #f40b03;
  box-shadow: 0 1px 0 0 #f40b03;
}

input#provider-input.center {
  border-bottom: 1px solid #f40b03;
  -webkit-box-shadow: 0 1px 0 0 #f40b03;
  -moz-box-shadow: 0 1px 0 0 #f40b03;
  box-shadow: 0 1px 0 0 #f40b03;
}

i.center.btn.waves-effect.waves-light {
  border: 2px dashed white;
}

/* input.input-field {
  border-bottom: 1px solid #a00c07;
  -webkit-box-shadow: 0 1px 0 0 #a00c07;
  -moz-box-shadow: 0 1px 0 0 #a00c07;
  box-shadow: 0 1px 0 0 #a00c07;
} */

input.search-field {
  border-bottom: 1px solid #a00c07;
  -webkit-box-shadow: 0 1px 0 0 #a00c07;
  -moz-box-shadow: 0 1px 0 0 #a00c07;
  box-shadow: 0 1px 0 0 #a00c07;
}
