/* .App {
  text-align: left;
} */

/* a {
  color: black;
} */

.brand-logo {
  font-family: "Bebas Neue";
  display: flex;
  justify-content: center;
  animation: App-logo-spin infinite 20s linear;
  height: 10px;
  font-weight: 850;
  margin: 75px 450px;
  color: black;
  border: 30px;
}

.btn {
  color: red;
}

/* .nav {
  background: rgb(235, 26, 58);
  display: flex;
  flex-direction: row;
} */

.center {
  font-family: "Bebas Neue";
  font-weight: 400;
}

.link {
  text-align: center;
}

li {
  list-style: none;
}

@keyframes App-logo-spin {
  from { transform: rotate(-20deg); }
  to { transform: rotate(20deg); }
}

.waves-button-input {
  color: black;
  font-family: "Bebas Neue";
}
