.App {
  text-align: left;
}

/* a {
  color: black;
} */

.brand-logo {
  display: flex;
  justify-content: center;
  animation: App-logo-spin infinite 20s linear;
  height: 10px;
  font-weight: 850;
  margin: 300px 425px;
  /* color: black;
  border: 30px; */
}

.btn {
  color: red;
}

/* .nav {
  background: rgb(235, 26, 58);
  display: flex;
  flex-direction: row;
} */

.link {
  text-align: center;
}

li {
  list-style: none;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

